{ margin: 50px; }

header {
    width: 50%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
    font-size:x-large;

}

section {
    width: 50%;
    height: 100%;
    background-color: rgb(135, 135, 168);
}

article {
    width: 50%;
    height: 100%;
    background-color: rgb(136, 22, 202);
    color:darkgrey
}

aside {
    width: 50%;
    height: 100%;
    background-color: rgb(26, 29, 77);
    color:darkgrey


}


footer {
    width: 50%;
    height: 100%;
    background-color: rgb(76, 167, 162);
}