{ margin: 50px; }


a:visited {
    background-color: rgb(91, 171, 177);
    border-color: rgb(253, 251, 252);
    color: rgb(255, 255, 255);
  }


  a:active {
    color: rgb(255, 0, 0);
  }

  @media (hover: hover) {
    a:hover {
      background: rgb(152, 187, 24);
    }
  }

header {
    width: 50%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
    font-size:x-large;

}

section {
    width: 50%;
    height: 100%;
    background-color: rgb(197, 180, 29);
   
}

article {
    width: 50%;
    height: 100%;
    background-color: rgb(219, 198, 78);
    color:rgb(0, 0, 0)
}

aside {
    width: 50%;
    height: 100%;
    background-color: rgb(110, 111, 128);
    color:rgb(255, 255, 255)
}

footer {
    width: 50%;
    height: 100%;
    background-color: rgb(76, 167, 162);
}