.div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:flex-start;


}.one {
   /* flex-grow: 5; */
    flex-wrap: wrap;
    width: 100%;    
    
}

.two {
    /* flex-grow: 5; */
    flex-wrap: wrap;
    width: 60%;
  
}

.three {
   /* flex-grow: 5; */
   flex-direction: row;
    flex-wrap: wrap;
    width: 39.7%;
 
}

.four {
   /* flex-grow: 5; */
   flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
}

.five {
   /* flex-grow: 5; */
    flex-wrap: wrap;
    width: 59.7%;
}