html{
    background-color: rgb(181, 255, 255);
}

body {
    margin:auto;
    width: auto;
    height: auto;
}


h1 {
    font-family:'Source Code Pro', monospace;
    font-size: 5rem;
    text-shadow:  20px 10px 20px rgb(127, 18, 155);
    text-align: center;
    text-transform: capitalize;
    font-weight:800;
}

.Orcinus {
    font-family:'Source Code Pro', monospace;
    font-size: 18px;
    text-indent: 20px;
}

.apex {
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;   
}

.orca {
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 300;
    font-size: 3rem
}

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.seaworld {
    font-family: serif;
    text-decoration:line-through;
}
