
div{
    width:75%;
    Height:100%;
    border: 1px solid rgb(0, 0, 0);
}

.title {
    font-size: xx-large;
    font-style: oblique;
    color: rgb(4, 131, 153);
}

.intro {
    color:rgb(0, 0, 0)
    width:50px
}

.mean {
    color:rgb(65, 148, 225);
    font-style:normal;
    font-size: x-large;
}

.score {
    font-weight:500
}
/* I'm not sure if I should be identifying these, if that is what you meant by comment? */
#last {
    color:rgb(0, 0, 0)
}
