div {
    margin: 40px;
    width: 220px;
    height: 100px;
    
}

img {
    width: 220px;
    height: 220px;
    border: solid black;
    border-radius: 50px;
    display:

}

h1 { 
   font-size:x-large;
   font:bolder;
   font-stretch: wider;
   text-align: center;

}

span {
    margin: 20px;
    height: 100px;
    width: 100px