
div {
    border:2px solid rgb(18, 140, 211);
    width: 100%;
    height: 100%;
    display:flex;
    justify-content:flex-start;
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
   
}


.box1 {
    margin: 1%;
    width: 120px;
    height: 120px;
    padding: 1em;
    background-color: aquamarine;
    border: 3px solid rgb(17, 17, 138);
    font-size: 30px;
    align-items: center;
    
    
}


.box2 {
    width: 120px;
    height: 120px;
    margin: 1%;
    padding: 1em;
    background-color: aquamarine;
    border: 3px solid rgb(17, 17, 138);
    font-size: 30px;
    align-items: center;
  
}


.box3 {
    width: 120px;
    height: 120px;
    margin: 1%;
    padding: 1em;
    background-color: aquamarine;
    border: 3px solid rgb(17, 17, 138);
    font-size: 30px;
    align-items: center;
  
}


.box4 {
    width: 120px;
    height: 120px;
    margin: 1%;
    padding: 1em;
    background-color: aquamarine;
    border: 3px solid rgb(17, 17, 138);
    font-size: 30px;
    align-items: center;

}


.box5 {
    width: 120px;
    height: 120px;
    margin: 1%;
    padding: 1em;
    background-color: aquamarine;
    border: 3px solid rgb(17, 17, 138);
    font-size: 30px;
    align-items: center;
}


.box6 {

    width: 120px;
    height: 120px;
    margin: 1%;
    padding: 1em;
    background-color: aquamarine;
    border: 3px solid rgb(17, 17, 138);
    font-size: 30px;
    align-items: center;
}


.box7 {
    width: 120px;
    height: 120px;
    margin: 1%;
    padding: 1em;
    background-color: aquamarine;
    border: 3px solid rgb(17, 17, 138);
    font-size: 30px;
    align-items: center;
}


.box8 {
    width: 120px;
    height: 120px;
    margin: 1%;
    padding: 1em;
    background-color: aquamarine;
    border: 3px solid rgb(17, 17, 138);
    font-size: 30px;
    align-items: center;
}



.box9 {
    width: 120px;
    height: 120px;
    margin: 1%;
    padding: 1em;
    background-color: aquamarine;
    border: 3px solid rgb(17, 17, 138);
    font-size: 30px;
    align-items: center;
}