div {
    margin: 20px;
    width: 100px;
    height: 100px;
    border:3px rgb(0, 0, 0) solid;
    background-color: rgb(218, 165, 32);
    border-radius: 50px 10.5px;
    display:inline-block;

 
} 